[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggdag"]
	path = ggdag
	url = https://github.com/r-causal/ggdag
[submodule "halfmoon"]
	path = halfmoon
	url = https://github.com/r-causal/halfmoon
[submodule "propensity"]
	path = propensity
	url = https://github.com/r-causal/propensity
	registered = false
[submodule "quartets"]
	path = quartets
	url = https://github.com/r-causal/quartets
[submodule "tidysmd"]
	path = tidysmd
	url = https://github.com/r-causal/tidysmd
[submodule "tipr"]
	path = tipr
	url = https://github.com/r-causal/tipr
